@font-face {
    font-family: "light";
    src: url(../fonts/Josefin_Sans/JosefinSans-Light.ttf);
}
@font-face {
    font-family: "bold";
    src: url(../fonts/Josefin_Sans/JosefinSans-Bold.ttf);
}

h5, h6 {
    margin-top: 10px;
    font-family: "Bold";
}
body {
    background-color: #eaeaea;
    color: #6c6c6c;
    font-family: "light";
    font-size: 0.8em;
}
.container {
    margin-top: 50px;
    margin-bottom: 20px;
    
}
.header__logo {
    width: 382px;
    height: 159px;
    background-image: url(../img/images/logo_lemon.png);
    margin: 0 auto;
}
.header__logo-small {
    width: 103px;
    height: 43px;
    background-size: cover;
    margin: 30px;
}
.header__menu {
    background-color: #f8f8f8;
   // height: 50px;
}
.shadow__box {
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Параметры тени */
    background-color: #f8f8f8;
}
.button__search {
   color: #6c6c6c;
   //border-color: null;
   border-style: none;
}
.button__search:hover {
    background-color: #f8f8f8;
    border-style: none;
}
.photo-slider1, .photo-slider2, .photo-slider3 {
    background-color: #f8f8f8;
    //width: 1200px;
   // height: 440px;
    
}

.header__logo_carousel {
    width: 240px;
    height: 100px;
    background-size: cover;
    margin: 0;

}
.carousel__main {
    text-align: left;
    color: #6c6c6c;
    width: 340px;
}
.carousel-caption {
    margin-left: -85px;
}
.carousel__main_header-text {
    color: #921026;
    margin-top: 30px;
}
.carousel__main_text {
    margin-top: 30px;
}
.carousel__main_button {
    margin-top: 30px;
}
.carousel-control-prev-icon {
    margin-left: -100px;
}
.carousel-control-next {
    margin-right: -50px;
}
.main {
   // height: 400px;
    background-color: #ffffff;
}
.main__header_image1 {
    background-image: url(../img/images/salad1.png);
    background-size: inherit;
    width: 324px;
    height: 250px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.main__header_image2 {
    background-image: url(../img/images/salad2.png);
    background-size: inherit;
    width: 324px;
    height: 250px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.main__header_image3 {
    background-image: url(../img/images/salad3.png);
    background-size: inherit;
    width: 324px;
    height: 250px;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.recipe__img {
    background-image: url(../img/images/photo-recipe.png);
    background-size: inherit;
    background-repeat: no-repeat;
    width: 550px;
    height: 441px;
}
.button__align {
    margin: 10px auto;
    
}
.recipe__article {
    margin-top: 20px;
    margin-right: 20px;
}
.author-recipe__title {
    background-image: url(../img/images/plate.png);
    background-repeat: no-repeat;
    background-size: cover;
   background-color: rgba(255, 255, 255, 0.842);
    width: 469px;
    height: 413px;
    margin: 0 auto;
    
}
.author-recipe__footer_name {
    margin-left: 40px;
    padding-top: 8px;
}

.author-recipe__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 135px;
}
.button__recipe {
    margin: 0;
}
.button {
    display: flex;
    justify-content: center;
    margin: -41px;
    padding-bottom: 30px;
}
.author-recipe__photo-author {
    background-image: url(../img/images/CarenPhoto.png);
    height: 130px;
    width: 130px;
    background-repeat: no-repeat;
    margin-left: 30px;
    border-radius: 65px;

}
.block__recipe_cube {
    height: 530px;
}
.recipe__text {
   margin-right: 20px;
   // height: 432px;
}
.autograph {
    background-image: url(../img/images/CarenAut.png);
    background-repeat: no-repeat;
    height: 65px;
    background-position-x: right;
    margin-top: -30px;
}
.card__user_img {
  float: left;
  margin: 10px 10px 10px 10px;
    border-radius: 28px;
}
.h5__color_blue {
    color: #055555;
}
.carousel-indicators li {
    border: #555555;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
.line {
    height: 3px;
    margin: 0 auto;
    background-color: #dddddd;
}

.icons {
    text-align: right;
   
}
.icons i {
    margin-left: 10px;
}
.text_align_center {
    text-align: center;
    margin: 10px auto;
}
.card_recipe_p {
    margin: 10px auto;
}
.img_recipe1_small {
    background-image: url(../img/images/salad_mini.jpg);
    background-repeat: no-repeat;
    width: 50px;
    height: 45px;
}
.img_recipe2_small {
    background-image: url(../img/images/salad_mini2.jpg);
    background-repeat: no-repeat;
    width: 50px;
    height: 45px;
}
.img_recipe3_small {
    background-image: url(../img/images/salad_mini3.jpg);
    background-repeat: no-repeat;
    width: 50px;
    height: 45px;
}
.recipe_small_text {
    font-size: 0.8em;
}
.button__recipe_mini {
    justify-content: right;
}
.card-columns {
    width: 900px;
    margin: 0 auto;
    .card {
        border-radius: 0px;
        width: 240px;
        margin: 27px;
    }
}
.white_button {
    float: right;
    margin: 20px auto;
}
.img_persent_1 {
    background-image: url(../img/images/19persent.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.img_persent_2 {
    background-image: url(../img/images/65persent.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.img_persent_3 {
    background-image: url(../img/images/50persent.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
}
.tags_body {
    margin: 10px auto;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 2em;
}
.calendar_header {
    text-align: -webkit-center;
    margin: 10px auto;

}
.calendar_body {
   //text-align: justify;
    //word-spacing: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.calendar_body_name {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: underline;
}
.line2 {
    height: 3px;
    margin: 0 auto;
    background-color: #ffffff;
}
h2 {
    color: red;
}
.paragraph {
    margin: 15px auto;
    display: block;
}
.background_popular_now {
    background-size: cover;
    background-image: url(../img/images/coffee.png);
    //width: 300px;
    height: 360px;
}
.timeline_body {
    
    .timeline_body_img1 {
        background-position: bottom;
        background-image: url(../img/images/easy.png);
        background-repeat: no-repeat;
        //width: 100px;
        height: 200px;
    }
    .timeline_body_img2 {
        background-position: bottom;
        background-image: url(../img/images/middle.png);
        background-repeat: no-repeat;
        //width: 100px;
        height: 200px;
    }
    .timeline_body_img3 {
        background-position: bottom;
        background-image: url(../img/images/long.png);
        background-repeat: no-repeat;
        //width: 100px;
        height: 200px;
    }
}
.margin_5px {
    margin: 5px;
}