@font-face {
    font-family: "light";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Light.ttf);
}
@font-face {
    font-family: "bold";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}
@font-face {
    font-family: "regular";
    src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}
$grey: #6e6e6e;
$violet: #5b4295;
$lightViolet: #6276cc;
$red: #fc5a5d;

body {
    color: $grey;
    font-size: 1em;
    font-family: "light";
}
h1 {
    font-size: 3em;
}
a {
    text-decoration: none;
    color: $grey;
}
.header {
    width: 1000px;
    height: 100px;;
    margin: 0 auto;
    //display: flex;
    justify-content: space-between;
}

.header__logo {
    font-size: 1.1em;
    width: 300px;
    font-family: "bold";
    display: flex;
    float: left;
}
.header__general-menu {
    height: 50px;
    display: flex;
    justify-content: space-between;
}


.header__menu {
    height: 50px;
    text-align: right;
    float: left;
    display: flex;
    align-items: center;
    a {
        margin: 5px;
        justify-content: center;
    }
    
}
.header__language {
    font-family: "light";
    width: 500px;
    text-align: justify;
    display: flex;
}
    .header__logotype {
        font-size: 1.9em;
    }
    .header__menu_bold {
        
        float: none;
        width: 55px;
        text-align: center;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
    }
    .header__menu_bold:hover {
        font-family: "bold";
        font-size: 0.9em;
        border-bottom-style: solid;
        border-bottom-color: $grey;
        border-bottom-width: 1px;
        justify-content: center;
        align-items: center;
    }
    .header__menu_slash {
        border-bottom-style: none;
        width: 10px;
        margin-right: 10px;
    }
    .header__menu_slash:hover {
        font-family: "light";
        //border-bottom-style: none;
        border-bottom-width: 0px;
    }
    span {
        color: $violet;
    }
.button {
    float: right;
    background: linear-gradient(45deg, #5b4295, #6276cc);
    border-radius: 20px;
    color: white;
    width: 90px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url(../img/images/montain.jpg);
}
.content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.content__header_header {
    align-content: space-around;
    margin: 0;
}
.content__header_button {
    display: flex;
}
.content__header_button-button {
    width: 160px;
}
.content__header_button-apple, .content__header_button-play{
    width: 40px;
}