@font-face {
  font-family: "light";
  src: url(../fonts/Roboto/Roboto-Light.ttf); }
@font-face {
  font-family: "bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf); }
body {
  font-family: "light";
  font-size: 0.9em; }

h1, h3, h2 {
  font-family: "bold";
  margin-bottom: 20px; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.background_1 {
  background-image: url(../img/images/background_1.png);
  background-position: center;
  height: 930px;
  background-size: cover;
  background-repeat: no-repeat; }

.background_2 {
  background-image: url(../img/images/background_2.png);
  height: 1490px;
  margin-top: -264px;
  background-repeat: no-repeat;
  background-size: cover; }

.container_2 {
  margin-top: 240px; }

.background_3 {
  background-image: url(../img/images/background_3.png);
  height: 1063px;
  margin-top: -627px;
  background-repeat: no-repeat;
  background-size: cover; }

.bk1, .bk2, .bk3, .bk4 {
  position: relative; }

.bk1 {
  z-index: 1000; }

.bk2 {
  z-index: 10000; }

.bk3 {
  z-index: 5000; }

.bk4 {
  z-index: 10000; }

.shoes {
  width: 717px;
  margin-top: 70px;
  margin-left: -131px; }

.logo {
  background-image: url(../img/images/logo_nike.png);
  background-repeat: no-repeat;
  width: 80px;
  height: 28px; }

.margin {
  padding-top: 40px;
  padding-left: 40px; }

.menu_burger {
  background-image: url(../img/images/menu_burger.png);
  background-repeat: no-repeat;
  background-position: center; }

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none; }

ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none; }

ul.menu > li {
  float: left;
  position: relative; }

ul.menu > li > a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none; }

ul.submenu {
  display: none;
  position: absolute;
  width: 120px;
  right: -30px; }

ul.submenu > li {
  display: block; }

ul.submenu > li > a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none; }

ul.submenu > li > a:hover {
  text-decoration: underline; }

ul.menu > li:hover > ul.submenu {
  display: block; }

.header_text {
  color: #00ecf4;
  margin-bottom: 100px; }

.button_nike {
  background-color: #00ecf4;
  border-radius: 20px;
  border-width: 1px;
  border-color: white;
  color: white;
  font-size: 0.7em;
  width: 135px;
  height: 34px; }

.button_nike:active {
  border-color: white;
  background-color: transparent;
  color: black; }

.shoes2 {
  width: 700px;
  margin-top: -215px;
  margin-left: 77px; }

.button_nike_buy {
  margin-left: 100px; }

.body_text {
  color: #00ecf4; }

.heigth_body_colums {
  padding-top: 93px; }

.shoes3 {
  width: 883px;
  display: block;
  margin-left: 23px;
  margin-top: 638px; }

.content_margin {
  margin-top: 458px; }

.background_4 {
  background-image: url(../img/images/backgrond_4.png);
  margin-top: -160px;
  background-repeat: no-repeat;
  background-size: cover; }

.shoes4 {
  width: 1000px;
  margin-top: 200px;
  margin-bottom: 150px; }

.price_color {
  color: #f50057; }

.stars {
  width: 200px; }

.text_review {
  color: #00ecf4;
  font-family: "bold";
  font-size: 0.8em; }

.vcenter {
  padding-block-start: 20px; }

.background_footer {
  margin-top: 100px;
  background-color: #212e30; }

.text_style_footer {
  color: #437077;
  font-size: 0.8em; }

.icon_style {
  color: white;
  margin: 10px; }

a {
  color: #437077; }

a:hover {
  color: #00ecf4;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
